In [1]:
import sqlite3

## Database Connection

In [2]:
conn = sqlite3.connect('test.sqlite3')
print(conn)
conn.close()

<sqlite3.Connection object at 0x0000021347D308A0>

## CREATE Table

In [3]:
with sqlite3.connect('test.sqlite3') as conn:
    cursor = conn.cursor()
    cursor.execute(
        """CREATE TABLE student (roll INT, name TEXT, age INT)"""
    )
    conn.commit()

## INSERT Into Table

In [4]:
with sqlite3.connect('test.sqlite3') as conn:
    cursor = conn.cursor()
    cursor.execute(
        """
        INSERT INTO student VALUES(?, ?, ?)
        """, (101, "Tessa", 24)
    )
    conn.commit()

## SELECT - Fetching Data from Table

In [5]:
with sqlite3.connect('test.sqlite3') as scon:
    cursor = scon.cursor()
    result = cursor.execute(
        """SELECT * FROM student"""
    )
    print(list(result))

[(101, 'Tessa', 24)]

## Multiple data Insert and Fetching

In [6]:
users = [
    (102, "John Smith", 27),
    (103, "Marie Hard", 45),
    (104, "Lisa Bloomberg", 21),
    (105, "Karen Richard", 26)
]

In [7]:
# Inserting mutiple data
with sqlite3.connect('test.sqlite3') as iconn:
    cursor = iconn.cursor()
    cursor.executemany(
        """ INSERT INTO student VALUES(?, ?, ?) """, users
    )
    iconn.commit()

In [8]:
# Fetching Multiple Data
with sqlite3.connect('test.sqlite3') as mcon:
    cursor = mcon.cursor()
    results = cursor.execute(
        """SELECT * FROM student"""
    )
    #print(list(results)) # Fetch All the result
    #print(list(results.fetchone())) # Fetch the first one
    #print(list(results.fetchmany(3))) # Fetch the first 3 
    print(list(results.fetchall())) # Fetch all the data

[(101, 'Tessa', 24), (102, 'John Smith', 27), (103, 'Marie Hard', 45), (104, 'Lisa Bloomberg', 21), (105, 'Karen Richard', 26)]

## WHERE Clause - Filtering Rows

In [9]:
with sqlite3.connect('test.sqlite3') as conn:
    cursor = conn.cursor()
    result = cursor.execute(
        """SELECT * FROM student WHERE age > ?""", (25, )
    )
    print(list(result.fetchmany(3)))

[(102, 'John Smith', 27), (103, 'Marie Hard', 45), (105, 'Karen Richard', 26)]

## AND, IN, OR, NOT

In [10]:
# AND
with sqlite3.connect('test.sqlite3') as conn:
    cursor = conn.cursor()
    result = cursor.execute(
        """ SELECT * FROM student WHERE age > ? AND age < ? """, (25, 40,)
    )
    print(list(result))

[(102, 'John Smith', 27), (105, 'Karen Richard', 26)]

In [11]:
# OR
with sqlite3.connect('test.sqlite3') as conn:
    cursor = conn.cursor()
    result = cursor.execute(
        """ SELECT * FROM student WHERE age < ? OR age > ? """, (25, 40, )
    )
    print(list(result))

[(101, 'Tessa', 24), (103, 'Marie Hard', 45), (104, 'Lisa Bloomberg', 21)]

In [12]:
# NOT
with sqlite3.connect('test.sqlite3') as conn:
    cursor = conn.cursor()
    result  =cursor.execute(
        """ SELECT * FROM student WHERE NOT age > ? """, (25, )
    )
    print(list(result))

[(101, 'Tessa', 24), (104, 'Lisa Bloomberg', 21)]

In [13]:
# IN
with sqlite3.connect('test.sqlite3') as conn:
    cursor = conn.cursor()
    result  =cursor.execute(
        """ SELECT * FROM student WHERE age IN (?, ?, ?) """, (25, 26, 27, )
    )
    print(list(result))

[(102, 'John Smith', 27), (105, 'Karen Richard', 26)]

## Wildcards and LIKE

In [14]:
with sqlite3.connect('test.sqlite3') as conn:
    cursor = conn.cursor()
    result = cursor.execute(
        """ SELECT * FROM student WHERE name LIKE '%a' """
    )
    print(list(result))

[(101, 'Tessa', 24)]

In [15]:
with sqlite3.connect('test.sqlite3') as conn:
    cursor = conn.cursor()
    result = cursor.execute(
        """ SELECT * FROM student WHERE name LIKE '%r_' """
    )
    print(list(result))

[(103, 'Marie Hard', 45), (104, 'Lisa Bloomberg', 21), (105, 'Karen Richard', 26)]

## Aggregation

In [16]:
with sqlite3.connect('test.sqlite3') as conn:
    cursor = conn.cursor()
    result = cursor.execute(
        """ SELECT MAX(age), AVG(age), COUNT(*), SUM(age) FROM student """
    )
    print(list(result))

[(45, 28.6, 5, 143)]

## GROUP BY

In [17]:
with sqlite3.connect('test.sqlite3') as conn:
    cursor = conn.cursor()
    result = cursor.execute(
        """ SELECT COUNT(age) FROM student GROUP BY age """
    )
    print(list(result))

[(1,), (1,), (1,), (1,), (1,)]

## ORDER BY

In [18]:
with sqlite3.connect('test.sqlite3') as conn:
    cursor = conn.cursor()
    result = cursor.execute(
        """ SELECT * FROM student ORDER BY age """
    )
    for roll, name, age in result:
        print(roll, name, age)

104 Lisa Bloomberg 21
101 Tessa 24
105 Karen Richard 26
102 John Smith 27
103 Marie Hard 45

In [19]:
with sqlite3.connect('test.sqlite3') as conn:
    cursor = conn.cursor()
    result = cursor.execute(
        """ SELECT * FROM student ORDER BY name DESC, age ASC """
    )
    for roll, name, age in result:
        print(roll, name, age)

101 Tessa 24
103 Marie Hard 45
104 Lisa Bloomberg 21
105 Karen Richard 26
102 John Smith 27

# Updating Rows

In [20]:
with sqlite3.connect('test.sqlite3') as conn:
    cursor = conn.cursor()
    cursor.execute(
        """ UPDATE student SET age = ? WHERE roll = ? """, (26, 101,)
    )
    result = cursor.execute(
        """ SELECT * FROM student """
    )
    for roll, name, age in result:
        print(roll, name, age)

101 Tessa 26
102 John Smith 27
103 Marie Hard 45
104 Lisa Bloomberg 21
105 Karen Richard 26

# DELETE

In [21]:
with sqlite3.connect('test.sqlite3') as conn:
    cursor = conn.cursor()
    cursor.execute(
        """ DELETE FROM student WHERE roll = ? """, (105, )
    )
    result = cursor.execute(
        """ SELECT * FROM student """
    )
    for roll, name, age in result:
        print(roll, name, age)

101 Tessa 26
102 John Smith 27
103 Marie Hard 45
104 Lisa Bloomberg 21

# DROP Table

In [22]:
with sqlite3.connect('test.sqlite3') as conn:
    cursor = conn.cursor()
    cursor.execute(
        """ 
        DROP TABLE student
        """
    )
    result = cursor.execute(
        """ SELECT * FROM student """
    )
    for roll, name, age in result:
        print(roll, name, age)

OperationalError: no such table: student